[run]
branch = True
source = src/mainpkg
relative_files = True

[report]
include = src/mainpkg/**
show_missing = True

[paths]
source =
    src/mainpkg
    */Automaten/src/mainpkg
    */work/Automaten/Automaten/src/mainpkg
    D:\a\Automaten\Automaten\src\mainpkg
