PySide6~=6.8.1
aplustools[all]~=2.0.0.0a4
packaging~=24.2
requests~=2.32.3
urllib3~=2.2.3
aiohttp~=3.11.0
aiofiles~=24.1.0
beautifulsoup4~=4.12.3
pillow~=11.0.0
stdlib_list
returns>=0.24.0
auto-py-to-exe==2.44.2
